.AKToastCardWrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

:global .ant-notification {
  z-index: 9999;
}

@media (max-width:1279px) {
  .AKToastCardWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:767px) {
  .AKToastCardWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}